body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: auto;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

#menu-container {
    z-index: 20;
    position: absolute;
    background: transparent;
    display: flex;
    margin-top: 10px;
    transition: transform 0.4s ease;

}

#input-container {
    flex: auto;
    padding: 0 16px 10px 16px;
    background-color: white;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 5px dimgray;
}

#close-button-container {
    flex: auto;
    display: flex;
    flex-direction: column;
}

#close-button-ledge {
    flex: 0 0 auto;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 5px dimgray;
}

.input-container-item {
    display: list-item;
    list-style: none;
    margin: 10px 0 0 0;
    text-align: left;
}

input {
    float: right;
    display: inline;
    max-inline-size: 80px;
    margin-left: 10px;
}

#close-button {
    width: 30px;
    height: 30px;
    margin: 5px 10px 5px 5px;
    background: transparent;
    border: 0;
    border-radius: 5px;
    display: inline;
    font-size: 22px;
    justify-content: center;
    transition: transform 0.4s ease;
}